@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html,
body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  margin: 0;
  background: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
main {
  margin: 1em 2em 1.5em 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.heading-and-description {
  margin-bottom: 3em;
}
.title {
  color: var(--very-dark-magenta);
  margin: 2em 3em 1em 3em;
}
.description {
  color: var(--dark-grayish-magenta);
}
.rate-card {
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1.2em;
  padding-bottom: 0.1em;
  border-radius: 10px;
}
.opinion-card {
  border-radius: 10px;
  text-align: left;
  display: grid;
  place-items: center;
  background-color: var(--very-dark-magenta);
  margin-bottom: 1em;
  color: white;
}
.opinion-card-inner {
  margin: 2em 1.5em 1em 1.5em;
}
.opinion-heading {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  justify-content: flex-start;
  align-items: center;
}
.user-pic {
  width: 50px;
  margin-right: 2em;
  border-radius: 100%;
}
.user-name {
  margin: 0;
  line-height: 1.5em;
}
.verified-buyer {
  margin: 0;
  line-height: 1.5em;
  color: var(--soft-pink);

  font-weight: 400;
}
